.mod {
  width: 5rem;
  height: 10.83rem;
}

.box {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 5rem;
  height: 10.83rem;
  overflow: hidden;
}

.layerWrap {
  display: flex;
  position: absolute;
  top: 1.17rem;
  align-items: center;
  align-self: center;
  flex-direction: row;
  width: 5rem;
  height: 2.67rem;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 2.67rem;
}

.bgWrap {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  width: 5rem;
  height: 2.67rem;
}

.bg {
  position: absolute;
  top: 0;
  align-self: center;
  width: 5rem;
  height: 2.67rem;
  overflow: hidden;
}

.backgroundWrap {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  align-items: flex-start;
  flex-direction: row;
  width: 2.49rem;
  height: 2.53rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.49rem;
  height: 2.53rem;
}

.icon {
  position: absolute;
  top: 0.37rem;
  right: 0.59rem;
  width: 0.19rem;
  height: 0.16rem;
}

.icon_1 {
  position: relative;
  margin-top: 0.35rem;
  margin-right: 0.15rem;
  margin-left: 1.44rem;
  width: 0.33rem;
  height: 0.19rem;
}

.icon_2 {
  position: relative;
  margin-top: 0.36rem;
  width: 0.17rem;
  height: 0.16rem;
}

.txt {
  position: relative;
  margin-top: 0.32rem;
  margin-left: 0.4rem;
  max-width: 4.44rem;
  height: 0.27rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.27rem;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.19rem;
  font-weight: 400;
}

.word {
  position: relative;
  margin-top: 0.05rem;
  margin-left: 0.4rem;
  max-width: 4.44rem;
  height: 0.35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.35rem;
  white-space: nowrap;
  color: #ffffff;
  font-family: Roboto-Regular, Roboto;
  font-size: 0.29rem;
  font-weight: 400;
}

.block {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 0.16rem;
  margin-left: 0.4rem;
  height: 0.25rem;
}

.text {
  line-height: 0.24rem;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.17rem;
  font-weight: 400;
}

.txt_1 {
  line-height: 0.24rem;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  font-family: Roboto-Regular, Roboto;
  font-size: 0.17rem;
  font-weight: 400;
}

.word_1 {
  line-height: 0.23rem;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.16rem;
  font-weight: 400;
}

.normal_component {
  display: flex;
  position: absolute;
  top: 1.17rem;
  left: 2.35rem;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 0.21rem;
  height: 0.21rem;
}

.block_1 {
  display: flex;
  position: absolute;
  top: 2.77rem;
  align-items: flex-start;
  align-self: center;
  flex-direction: column;
  border-radius: 0.16rem;
  background-color: #ffffff;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
  width: 4.6rem;
  height: 3.33rem;
}

.normal_component_1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.21rem;
  margin-left: 0.25rem;
  height: 0.47rem;
}

.block_2 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 0.33rem;
  width: 1.29rem;
  height: 0.27rem;
}

.word_2 {
  margin-right: 0.01rem;
  line-height: 0.27rem;
  white-space: nowrap;
  color: #000000;
  font-size: 0.19rem;
  font-weight: 400;
}

.normal_component_2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 0.21rem;
  height: 0.21rem;
}

.block_3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  width: 0.21rem;
  height: 0.21rem;
}

.icon_4 {
  width: 0.19rem;
  height: 0.19rem;
}

.text_2 {
  position: relative;
  align-self: center;
  margin-top: 0.11rem;
  max-width: 2.87rem;
  height: 0.44rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.44rem;
  white-space: nowrap;
  color: #1a1f36;
  font-family: Roboto-Medium, Roboto;
  font-size: 0.37rem;
  font-weight: 500;
}

.group_1 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 0.64rem;
  width: 4.2rem;
  height: 0.53rem;
}

.normal_component_3 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-right: 0.21rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.27rem;
  border-color: #ff4800;
  width: 2rem;
  height: 0.53rem;
}

.normal_component_4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.27rem;
  background-color: #ff4800;
  width: 1.99rem;
  height: 0.53rem;
}

.hd {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding-right: 0.17rem;
  padding-left: 0.44rem;
  width: 4.99rem;
  height: 0.59rem;
}

.icon_5 {
  width: 0.39rem;
  height: 0.16rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 0.89rem;
  height: 0.16rem;
}

.icon_6 {
  margin-right: 0.07rem;
  width: 0.23rem;
  height: 0.16rem;
}

.icon_7 {
  margin-right: 0.07rem;
  width: 0.21rem;
  height: 0.16rem;
}

.container_1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.04rem;
  border-color: rgba(0, 0, 0, 0.35);
  width: 0.29rem;
  height: 0.15rem;
}

.color_1 {
  border-radius: 0.02rem;
  background-color: #000000;
  width: 0.24rem;
  height: 0.09rem;
}

.dot {
  width: 0.03rem;
  height: 0.05rem;
}

.bd {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  width: 4.99rem;
  height: 0.59rem;
}

.block_4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 1.44rem;
  margin-left: 0.27rem;
  background-color: rgba(255, 255, 255, 0);
  width: 0.32rem;
  height: 0.32rem;
}

.icon_8 {
  width: 0.13rem;
  height: 0.21rem;
}

.text_3 {
  max-width: 2.96rem;
  height: 0.33rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.33rem;
  white-space: nowrap;
  color: #000000;
  font-size: 0.24rem;
  font-weight: 500;
}

.submain {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 5.09rem;
  height: 0.85rem;
}

.normal_component_5 {
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 0.13rem;
  border-radius: 0.11rem;
  background-color: #ffffff;
  width: 2.23rem;
  height: 0.85rem;
}

.outer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.11rem;
  margin-left: 0.4rem;
  background-color: rgba(255, 255, 255, 0);
  width: 0.43rem;
  height: 0.43rem;
}

.icon_9 {
  width: 0.29rem;
  height: 0.35rem;
}

.block_5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 0.51rem;
}

.txt_5 {
  position: relative;
  max-width: 1.13rem;
  height: 0.27rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.27rem;
  white-space: nowrap;
  color: #000000;
  font-size: 0.19rem;
  font-weight: 500;
}

.word_3 {
  position: relative;
  margin-top: 0.03rem;
  max-width: 1.13rem;
  height: 0.21rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.21rem;
  white-space: nowrap;
  color: #000000;
  font-size: 0.15rem;
  font-weight: 400;
}

.group_2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 0.11rem;
  background-color: #ffffff;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.04);
  width: 2.23rem;
  height: 0.85rem;
}

.group_3 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.11rem;
  margin-left: 0.4rem;
  background-color: rgba(255, 255, 255, 0);
  width: 0.43rem;
  height: 0.43rem;
}

.icon_10 {
  position: relative;
  width: 0.32rem;
  height: 0.35rem;
}

.colorDiv_1 {
  position: absolute;
  right: 0.03rem;
  bottom: 0.03rem;
  background-color: rgba(255, 255, 255, 0);
  width: 0.19rem;
  height: 0.19rem;
}

.container_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 0.51rem;
}

.text_4 {
  position: relative;
  max-width: 1.13rem;
  height: 0.27rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.27rem;
  white-space: nowrap;
  color: #000000;
  font-size: 0.19rem;
  font-weight: 500;
}

.txt_6 {
  position: relative;
  margin-top: 0.03rem;
  max-width: 1.13rem;
  height: 0.21rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.21rem;
  white-space: nowrap;
  color: #000000;
  font-size: 0.15rem;
  font-weight: 400;
}

.row {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.16rem;
  border-radius: 0.11rem;
  background-color: #d8d8d8;
  width: 4.47rem;
  height: 1.12rem;
  overflow: hidden;
}

.actionBg {
  width: 4.47rem;
  height: 1.12rem;
}

.main {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.16rem;
  background-color: #ffffff;
  width: 5rem;
  height: 0.69rem;
}

.container_3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.35rem;
  margin-right: 0.04rem;
  height: 0.13rem;
}

.color_2 {
  position: relative;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.04);
  width: 0.05rem;
  height: 0.05rem;
}

.colorDiv_2 {
  position: relative;
  margin-top: 0.03rem;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.04);
  width: 0.05rem;
  height: 0.05rem;
}

.container_4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.35rem;
  margin-right: 0.04rem;
  height: 0.13rem;
}

.color_3 {
  position: relative;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.08);
  width: 0.05rem;
  height: 0.05rem;
}

.colorDiv_3 {
  position: relative;
  margin-top: 0.03rem;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.08);
  width: 0.05rem;
  height: 0.05rem;
}

.container_5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.35rem;
  margin-right: 0.04rem;
  height: 0.13rem;
}

.color_4 {
  position: relative;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.12);
  width: 0.05rem;
  height: 0.05rem;
}

.colorDiv_4 {
  position: relative;
  margin-top: 0.03rem;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.12);
  width: 0.05rem;
  height: 0.05rem;
}

.container_6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.35rem;
  margin-right: 0.08rem;
  height: 0.13rem;
}

.color_5 {
  position: relative;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.16);
  width: 0.05rem;
  height: 0.05rem;
}

.colorDiv_5 {
  position: relative;
  margin-top: 0.03rem;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.16);
  width: 0.05rem;
  height: 0.05rem;
}

.buttonWrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 0.25rem;
  margin-right: 0.08rem;
  border-radius: 0.02rem;
  background-color: rgba(170, 164, 232, 0.18);
  width: 1.47rem;
  height: 0.29rem;
}

.button {
  margin-left: 0.01rem;
  line-height: 0.29rem;
  white-space: nowrap;
  color: #1e1e1e;
  font-size: 0.24rem;
  font-weight: 600;
}

.container_7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.35rem;
  margin-right: 0.04rem;
  height: 0.13rem;
}

.color_6 {
  position: relative;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.16);
  width: 0.05rem;
  height: 0.05rem;
}

.colorDiv_6 {
  position: relative;
  margin-top: 0.03rem;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.16);
  width: 0.05rem;
  height: 0.05rem;
}

.container_8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.35rem;
  margin-right: 0.04rem;
  height: 0.13rem;
}

.color_7 {
  position: relative;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.12);
  width: 0.05rem;
  height: 0.05rem;
}

.colorDiv_7 {
  position: relative;
  margin-top: 0.03rem;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.12);
  width: 0.05rem;
  height: 0.05rem;
}

.container_9 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.35rem;
  margin-right: 0.04rem;
  height: 0.13rem;
}

.color_8 {
  position: relative;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.08);
  width: 0.05rem;
  height: 0.05rem;
}

.colorDiv_8 {
  position: relative;
  margin-top: 0.03rem;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.08);
  width: 0.05rem;
  height: 0.05rem;
}

.container_10 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.35rem;
  height: 0.13rem;
}

.color_9 {
  position: relative;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.04);
  width: 0.05rem;
  height: 0.05rem;
}

.colorDiv_9 {
  position: relative;
  margin-top: 0.03rem;
  border-radius: 0.03rem;
  background-color: rgba(122, 122, 122, 0.04);
  width: 0.05rem;
  height: 0.05rem;
}

.row1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 0.13rem;
  height: 0.96rem;
}

.container_11 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-right: 0.12rem;
  border-radius: 0.11rem;
  background-color: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  width: 2.17rem;
  height: 0.96rem;
  overflow: hidden;
}

.largeIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.97rem;
  height: 0.83rem;
}

.outer_1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.2rem;
  margin-right: 0.04rem;
  margin-left: 0.13rem;
  height: 0.56rem;
}

.text_5 {
  position: relative;
  max-width: 1.07rem;
  height: 0.27rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.27rem;
  white-space: nowrap;
  color: #000000;
  font-size: 0.21rem;
  font-weight: 600;
}

.info {
  position: relative;
  margin-top: 0.09rem;
  line-height: 0.2rem;
  white-space: pre;
  color: #000000;
  font-size: 0.15rem;
  font-weight: 400;
}

.block_6 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 0.09rem;
  width: 0.67rem;
  height: 0.67rem;
  overflow: hidden;
}

.mark {
  position: absolute;
  top: 0.13rem;
  right: 0.04rem;
  width: 0.44rem;
  height: 0.28rem;
}

.label {
  position: relative;
  margin-top: 0.21rem;
  margin-left: 0.03rem;
  width: 0.55rem;
  height: 0.35rem;
}

.block_7 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  border-radius: 0.11rem;
  background-color: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  width: 2.17rem;
  height: 0.96rem;
  overflow: hidden;
}

.word_4 {
  position: relative;
  margin-top: 0.2rem;
  margin-left: 0.13rem;
  line-height: 0.27rem;
  white-space: nowrap;
  color: #000000;
  font-size: 0.21rem;
  font-weight: 500;
}

.group_4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 0.13rem;
  width: 0.97rem;
  height: 0.83rem;
}

.largeIcon_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.97rem;
  height: 0.83rem;
}

.group_5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.01rem;
  margin-left: 0.2rem;
  width: 0.67rem;
  height: 0.67rem;
}

.largeIcon_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.67rem;
  height: 0.67rem;
  overflow: hidden;
}

.largeIcon_3 {
  position: relative;
  width: 0.67rem;
  height: 0.67rem;
}

.info_1 {
  position: absolute;
  top: 0.56rem;
  left: 0.13rem;
  line-height: 0.2rem;
  white-space: pre;
  color: #000000;
  font-size: 0.15rem;
  font-weight: 400;
}

.ft {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.03rem;
  background-color: #ffffff;
  width: 5rem;
  height: 0.45rem;
}

.color_10 {
  margin-top: 0.27rem;
  border-radius: 0.03rem;
  background-color: #000000;
  width: 1.79rem;
  height: 0.07rem;
}
